*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

header {
  position: relative;
}
button {
  border: none;
}

nav {
  display: inline;
}
nav,
ul,
li {
  display: inline-block;
  border: 1px solid red;
  height: 50px;
}

li {
  width: 100px;
}

button {
  /* float: right */
  position: absolute;
  right: 0;
}
